<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REST API</title>
</head>
<body>
#{form @ApiCall.add() }
  <p>
    <label for="id">Id: </label>
    <input type="number" name="id" id="id" value="${flash.id}" />
  </p>
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="${flash.name}" />
  <p>
    <label for="description">Description: </label>
    <input type="text" name="description" id="description" value="${flash.description}" />
  </p>
  </p>
  <p>
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
  </p>
#{/form}
</body>
</html>